<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
    </head>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="error">
            <h2>Page Not Found</h2>
        </div>
    </body>

    <%- include('./partials/footer.ejs') %>
</html>
